---
import "../styles/global.css";
import { App } from "../App";

export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Minier</title>
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-950 text-zinc-950 dark:text-zinc-100">
    <App client:only="react" />
  </body>
</html>
